<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>О нас</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/about.css}">
</head>
<body>
<div class="container">
    <div class="about-wrapper">
        <div class="logo">
            <a href="/"><img th:src="@{/css/images/jeteco_logo.png}" alt="О нас"></a>
        </div>

        <div class="about-content">
            <h1>О нас</h1>

            <p>
                Добро пожаловать в нашу организацию! Мы стремимся к тому, чтобы сделать мир лучше, снижая количество пищевых отходов
                и помогая нуждающимся. Наша миссия — объединить партнеров и волонтёров для спасения продуктов питания и их справедливого распределения.
            </p>

            <p>
                Мы сотрудничаем с кафе, ресторанами, магазинами и другими поставщиками еды, чтобы забирать излишки и направлять их туда,
                где они действительно нужны. Наша команда работает с любовью и заботой, чтобы каждый мог внести вклад в общее дело.
            </p>

            <p class="eco-warning">
                ♻️ Одной из ключевых целей нашего проекта является забота об экологии. Пищевые отходы выделяют метан — парниковый газ,
                в десятки раз более вредный, чем углекислый газ. Они загрязняют почву и воду, увеличивают углеродный след и способствуют глобальному потеплению.
                Сокращая пищевые отходы, мы не только помогаем людям, но и защищаем природу от необратимого вреда.
            </p>

            <p>
                Присоединяйтесь к нам и станьте частью решения — вместе мы можем изменить будущее!
            </p>
            <a href="/" class="back-button">Назад</a></div>

    </div>
    </div>
</body>
</html>
