<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>О нас</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/about.css}">
</head>
<body>
<div class="container">
    <div class="about-wrapper">
        <div class="logo">
            <img src="https://sdmntprpolandcentral.oaiusercontent.com/files/00000000-2950-620a-974a-3fb2f84f33df/raw?se=2025-05-25T06%3A04%3A03Z&sp=r&sv=2024-08-04&sr=b&scid=c266ed76-9ea0-55f8-9912-91288b5b254e&skoid=02b7f7b5-29f8-416a-aeb6-99464748559d&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skt=2025-05-25T00%3A40%3A21Z&ske=2025-05-26T00%3A40%3A21Z&sks=b&skv=2024-08-04&sig=zl4wjpZWLNpgkCHROMjiO/LtxIN096mXfCCkBlha39A%3D" alt="Наш логотип">
        </div>

        <div class="about-content">
            <h1>О нас</h1>

            <p>
                Добро пожаловать в нашу организацию! Мы стремимся к тому, чтобы сделать мир лучше, снижая количество пищевых отходов
                и помогая нуждающимся. Наша миссия — объединить партнеров и волонтёров для спасения продуктов питания и их справедливого распределения.
            </p>

            <p>
                Мы сотрудничаем с кафе, ресторанами, магазинами и другими поставщиками еды, чтобы забирать излишки и направлять их туда,
                где они действительно нужны. Наша команда работает с любовью и заботой, чтобы каждый мог внести вклад в общее дело.
            </p>

            <p class="eco-warning">
                ♻️ Одной из ключевых целей нашего проекта является забота об экологии. Пищевые отходы выделяют метан — парниковый газ,
                в десятки раз более вредный, чем углекислый газ. Они загрязняют почву и воду, увеличивают углеродный след и способствуют глобальному потеплению.
                Сокращая пищевые отходы, мы не только помогаем людям, но и защищаем природу от необратимого вреда.
            </p>

            <p>
                Присоединяйтесь к нам и станьте частью решения — вместе мы можем изменить будущее!
            </p>
            <a href="/" class="back-button">Назад</a></div>

    </div>
    </div>
</body>
</html>
