<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JetEco - Вкусно. Выгодно. Экологично.</title>
    <link rel="stylesheet" href="/css/home-style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<header class="main-header">
    <div class="container header-content">
        <div class="logo">
            <img src="https://i.postimg.cc/CM8zvVFg/jeteco-logo.png" alt="JetEco Logo" >
        </div>
        <nav class="main-nav">
            <ul>
                <li><a href="/about" class="active">О нас</a></li>
                <li><a href="/partners">Партнёры</a></li>
                <li><a href="how-it-works">Как это работает</a></li>
            </ul>
        </nav>
        <div class="header-actions">
            <!-- Отображение профиля пользователя Google -->
            <div th:if="${name}" class="user-profile">
                <img th:src="${picture}" alt="Profile picture" style="width:32px; height:32px; border-radius:50%;">
                <span th:text="${name}" style="margin-left: 8px;"></span>
            </div>
            <form class="search-bar" action="/search" method="get">
                <input type="text" name="query" placeholder="Поиск..." />
                <button type="submit"><i class="fas fa-search"></i></button>
            </form>
            <a href="#" class="icon-button" onclick="window.location.href='/basket'"><i class="fas fa-shopping-cart"></i></a>
            <!-- Кнопки входа и регистрации -->
            <div th:if="${name == null}">
                <button class="btn login-btn" onclick="window.location.href='/login'">Войти</button>
                <button class="btn register-btn" onclick="window.location.href='/register'">Регистрация</button>
            </div>

        </div>
    </div>
</header>

<main>
    <section class="hero-section">
        <div class="container hero-content">
            <div class="hero-text">
                <h4>Вкусно. Выгодно. Экологично.</h4>
                <p>JetEco — платформа, где ты можешь выгодно покупать качественные продукты и блюда, которые заведения готовы отдать по сниженной цене. Успей забрать, пока не разобрали!</p>
                <button class="btn button-primary" onclick="scrollDown()">Заказать сейчас</button>
            </div>
            <script>
                function scrollDown() {
                    window.scrollBy({
                        top: 1222, // количество пикселей вниз
                        left: 0,
                        behavior: 'smooth' // плавная прокрутка
                    });
                }
            </script>

            <div class="hero-images">
                <img src="https://images.unsplash.com/photo-1543353071-c953d88f7033?q=80&w=3125&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Food image 1" class="food-img food-img-large">
                <img src="https://images.unsplash.com/photo-1632142334511-8f24c3d3ae79?q=80&w=3088&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Food image 2" class="food-img food-img-small-top">
                <img src="https://plus.unsplash.com/premium_photo-1661636006793-41424adb9b8f?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Food image 3" class="food-img food-img-small-bottom">
            </div>
        </div>
    </section>

    <section class="partners-section">
        <div class="container">
            <h2>Как заказать</h2>
            <p class="section-description">Качество продукции является нашим приоритетом, и мы работаем только с лучшими, чтобы свежесть пока она не окажется в ваших руках.</p>
            <div class="partner-cards">
                <div class="partner-card">
                    <img src="https://i.postimg.cc/cCpcqqHz/2025-05-25-20-20-06.png" alt="Зеленая кнопка">
                    <h3>Нажмите добавить в корзину</h3>
                </div>
                <div class="partner-card">
                    <img src="https://i.postimg.cc/R0T9N4xc/2025-05-25-20-32-29.png" alt="Корзиан в верхнем правом углу">
                    <h3>Нажмите на корзину</h3>
                </div>
                    <div class="partner-card">
                        <img src="https://i.postimg.cc/cCpcqqHz/2025-05-25-20-20-06.png" alt="Подтвердить">
                        <h3>Нажмите подтвердить заказ и можете забрать его в филиале</h3>
                    </div>
            </div>
        </div>
    </section>

    <section id="how-to-order-section" class="how-to-order-section">
        <div class="container">
            <h2>Что заказывают</h2>
            <p class="section-description">Все продукты, представленные в приложении, проходят контроль качества и предлагаются в несколько часов от их приготовления.</p>
            <div class="food-items-grid">
                <div class="food-item-card">
                    <img src="https://images.unsplash.com/photo-1569419904069-081571452242?q=80&w=3087&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Food Box 1">
                    <h3>Бокс с едой из Bublik</h3>
                    <p>400 грамм</p>
                    <div class="price-like">
                        <span>190 сом</span>
                        <button class="add-to-cart-btn">Добавить в корзину</button>
                    </div>
                </div>
                <div class="food-item-card">
                    <img src="https://images.unsplash.com/photo-1644203542040-2df37e3580ef?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Food Box 2">
                    <h3>Бокс с едой из Belagio</h3>
                    <p>800 грамм</p>
                    <div class="price-like">
                        <span>200 сом</span>
                        <button class="add-to-cart-btn">Добавить в корзину</button>
                    </div>
                </div>
                <div class="food-item-card">
                    <img src="https://images.unsplash.com/photo-1616645258469-ec681c17f3ee?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Sandwich">
                    <h3>Бокс с едой из Ula Food</h3>
                    <p>500 грамм</p>
                    <div class="price-like">
                        <span>100 сом</span>
                        <button class="add-to-cart-btn">Добавить в корзину</button>
                    </div>
                </div>
                <div class="food-item-card">
                    <img src="https://media.istockphoto.com/id/1297636943/photo/fish-diet-salad-with-tuna-tomatoes-arugula-on-light-background-healthy-vegetarian-lunch.webp?a=1&b=1&s=612x612&w=0&k=20&c=uHpQv8xLcf5OlKcg8mKrSftDBtA0ifartSYDc72zyxo=" alt="Food Box 3">
                    <h3>Бокс с едой из Capito</h3>
                    <p>600 грамм</p>
                    <div class="price-like">
                        <span>200 сом</span>
                        <button class="add-to-cart-btn">Добавить в корзину</button>
                    </div>
                </div>
            </div>
            <div class="all-products-button-wrapper">
                <a href="/partners" class="btn button-primary">Все продукты</a>
            </div>
        </div>
    </section>
    <section class="info-block">
        <div class="container">
            <p>Все продукты, представленные в приложении, проходят контроль качества и предлагаются за несколько часов до истечения срока годности. Шеф-повара магазина упаковывают еду в чистые контейнеры, соблюдая санитарные нормы, а также вкус и свежесть еда, как всегда, просто с ограниченным сроком реализации. Вместе мы помогаем сократить пищевые отходы и заботимся о будущем.</p>
        </div>
    </section>
</main>

<footer class="main-footer">
    <div class="container footer-content">
        <div class="footer-section footer-company">
            <h3>JetEco</h3>
            <p>Вкусно. Выгодно. Экологично.</p>
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="https://www.instagram.com/soullovesoil/"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
        <div class="footer-section footer-links">
            <h3>Company</h3>
            <ul>
                <li><a href="#">О нас</a></li>
                <li><a href="/partners">Партнеры</a></li>
                <li><a href="/how-it-works">Как это работает</a></li>
            </ul>
        </div>
        <div class="footer-section footer-contact">
            <h3>Наши контакты</h3>
            <p><a class="example" href="mailto:jeteco@example.com">jeteco@example.com</a> </p>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <p>&copy; 2025 JetEco. All right Reserved.</p>
        </div>
    </div>
</footer>
</body>
</html>
