<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Как это работает</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/how_it_works.css}">
</head>
<body>
<div class="container">
    <div class="about-wrapper">
        <div class="logo">
            <a href="/"><img th:src="@{/css/images/jeteco_logo.png}" alt="Как это работает"></a>
        </div>
        <div class="about-content">
            <h1>Как это работает</h1>
            <p>
                Наша система проста: партнёры, такие как кафе и магазины, публикуют излишки еды.
                Пользователи через платформу выбирают подходящие продукты и делают заказ.
                Наша цель — не только сократить пищевые отходы, но и сделать еду доступной для всех. Мы предоставляем пользователям возможность приобретать качественные продукты с большими скидками, а также активно участвуем в благотворительной деятельности, соединяя партнёров с малоимущими и нуждающимися.

            </p>
            <p>
                Все блюда и товары остаются полностью съедобными и соответствуют санитарным нормам.
                Мы стремимся сделать процесс максимально эффективным и экологичным.
            </p>
            <p class="eco-note">♻️ Это помогает не только людям, но и экологии — меньше еды попадает на свалки, уменьшается выброс парниковых газов и экономятся ресурсы планеты.</p>

            <a href="/" class="back-button">Назад</a>
        </div>
    </div>
</div>
</body>
</html>
